main {
  max-width: 1200px;
  margin: 100px auto;
  padding: 20px 40px 40px 40px;
  background-color: #eeeeee44;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
  main {
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px 0;
    background-color: none;
    box-shadow: none;
    border-radius: none;
    box-sizing: border-box;
  }
}

h1 {
  margin-top: 142px;
  text-align: center;
  font-size: 42px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h4 {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h6 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}
