body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1100px;
    margin: 0 auto;
}

.title {
    margin-top: 30px;
    text-align: center;

}

.subtitle {
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
}


.header-section {
    width: 100%;
}


.header-logo {
    text-align: center;
    margin-top: 20px;
}


.logo {
    height: 42px;
}

.nav {
    display: flex;
    justify-content: space-between;

    padding: 10px 50px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 15px;
}



.ukrfood-section iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    
}


.acordeon-ads {
    display: flex;
    justify-content: space-between;
}

.accordion {
    width: 66%;
}

.plan-card {
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 10px
}

.plan-card img {
    width: 100%;
    height: auto;
}

.plan-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}


.footer-section {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: black;
    font-size: 24px;
    text-decoration: none;
}